
<% @recipe.each_slice(3) do |recipes| %>
	<div class="row">
	<div class="col-md-offset-2">
		<% recipes.each do |recipe| %>
			<div class="col-md-3">
				<div class="recipe">
					<div class="image_wrapper">
						<%= link_to recipe do %>
							<%= image_tag(recipe.image.url(:medium)) %>
						<% end %>
					</div>
					<%= link_to recipe.title, recipe %>
				</div>
			</div>
		<% end %>  
	</div>
</div>
<% end %>
                 




                                                                                                                                                                                                                                